*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #620000 !important;
}

.blanco{
	background-color: white;
}

.rojo{
	background-color: #620000;
}

h1{
	font-size: 80px !important;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

h2{
	color: white;
	font-size: 20px !important;
	text-align: right;
	font-family: 'Roboto Slab', serif;
}

p{
	font-size: 20px !important;
	text-align: center;
	font-family: 'Roboto Slab', serif;

}
.cabeindex{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

.vacia{
	width: 100%;
	padding: 30px;
}

.lineavacia{
	width: 100%;
	padding: 25px;
}

main{
	height: auto;
	background-color: white !important;
}

.imamain{
	padding-bottom: 90px;
	display: block;
	margin: auto;
	width: 80%;
	height: 500px;
}

.footer{
	width: 100%;
	background-color: #620000;
}

footer{
	padding: 20px;
}

.imafooter{
	width: 80%;
	height: auto;
}

.redes{
	width: 35px;
	height: 35px;
	display: block;
	margin: auto;
}

form{
	padding: 36px;
	font-family: 'Roboto Slab', serif;
}

.rowform{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.btn-primary{
    background-color: #620000 !important;
    border-color: #620000 !important;
    font-family: 'Raleway', sans-serif !important;
}

.btn-secondary {
    color: #fff;
    background-color: #620000 !important;
    border-color: #620000 !important;
    font-family: 'Raleway', sans-serif !important;
}

.mapa{
	width: 100%;
	padding: 30px;
}

[class*="col-"]{
	float: left;
}

/*Pantallas Grandes*/

@media (min-width: 1200px){
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.3333333%;}
	.col-lg-5 {width: 41.66666667%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.3333333%;}
	.col-lg-8 {width: 66.66666667%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.3333333%;}
	.col-lg-11 {width: 91.66666667%;}
	.col-lg-12 {width: 100%;}
}


/*Pantallas Medianas:*/

@media (max-width: 1199px) and (min-width: 992px){
	.col-md-1 {width: 8.33333333%;}
	.col-md-2 {width: 16.66666667%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.3333333%;}
	.col-md-5 {width: 41.66666667%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.3333333%;}
	.col-md-8 {width: 66.66666667%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.3333333%;}
	.col-md-11 {width: 91.66666667%;}
	.col-md-12 {width: 100%;}
}


/*Pantallas Pequeñas:*/

@media (max-width: 991px) and (min-width: 768px){
	.col-sm-1 {width: 8.33333333%;}
	.col-sm-2 {width: 16.66666667%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.3333333%;}
	.col-sm-5 {width: 41.66666667%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.3333333%;}
	.col-sm-8 {width: 66.66666667%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.3333333%;}
	.col-sm-11 {width: 91.66666667%;}
	.col-sm-12 {width: 100%;}
}


/*Pantallas Extra Pequeñas*/

@media (max-width: 767px){
	.col-xs-1 {width: 8.33333333%;}
	.col-xs-2 {width: 16.66666667%;}
	.col-xs-3 {width: 25%;}
	.col-xs-4 {width: 33.3333333%;}
	.col-xs-5 {width: 41.66666667%;}
	.col-xs-6 {width: 50%;}
	.col-xs-7 {width: 58.3333333%;}
	.col-xs-8 {width: 66.66666667%;}
	.col-xs-9 {width: 75%;}
	.col-xs-10 {width: 83.3333333%;}
	.col-xs-11 {width: 91.66666667%;}
	.col-xs-12 {width: 100%;}